<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <h3>Registered Users:</h3>
      <% let selectId = "" %>
      <form action='/user' method="post">
      <select name="userId">
        <% users.forEach((user) => { %>
          <option value=<%= user.id%>><%= user.email %></option>
          <% url = "/user/"+user.id%>
        <% }); %>
      </select>
      <input type="submit" value="View Todos"></input>
    </form>
    </div>
    <form action="/" method="post">
      <h3>Not registered yet?</h3>
      <input name="email" type="text"></input>
      <br/>
      <br/>
      <button>Create New User</button>
    </form>
    <div>
      <br/>
      <h3>View all to-dos registered by Users</h3>
      <a href="/todos"><button>View all things to do</button></a>
    </div>
  </body>
</html>
