<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/add">Add new user</a></p>
      
      <!-- <form action="todo-add">
        <select name="users" id="">
        <% if (todos.User < 1) { %>
        <option value="">Tidak ada user</option>
        <%
          todos.User.forEach(user => {
        %>
          <option value=""><%- user.email %></option>
        <%
          });
        }
        %>
        </select>
        <button type="submit">Submit</button>
      </form> -->
        
    
    <div class="todos-parent">
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>isComplete</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>User id</th>
          </tr>
        </thead>
        <tbody>
        <%
        if (todos.length < 1) {
        %>
        <tr>
          <td colspan="3"><p>Tidak ada todo</p></td>
        </tr>
          
        <%
        } else {
          let no = 1;
          todos.forEach(todo => {
        %>
          <tr>
            <td><%- no %></td>
            <td><%- todo.title %></td>
            <td><%- todo.isComplete %></td>
            <td><%- todo.createdAt %></td>
            <td><%- todo.updatedAt %></td>
            <td><%- todo.userId %></td>
          </tr>
          <%
            no++;
          });
        }
        %>
        </tbody>
      </table>
      

    </div>

  </body>
</html>
